<header class="header">
    <div class="header__logo">
        <div class="header__logo-icon">
            <a href="/"><img src="/imgs/icons/code-icon-48.png" alt=""></a>
        </div>
    </div>
    <nav class="header__nav">
        <a class="link" href="/#about">ABOUT</a>
        <a class="link" href="/#projects">PROJECTS</a>
        <a class="link" href="/#contact">CONTACT</a>
    </nav>
</header>