<% layout('layouts/game') %>
    <div id="gameContainer">
    </div>

    <script type="text/javascript" src="/scripts/game/utils/WebFontLoader.js"></script>
    <script type="text/javascript" src="/scripts/game/events/Emitter.js"></script>
    <script type="text/javascript" src="/scripts/game/effects/EffectManager.js"></script>
    <script type="text/javascript" src="/scripts/game/effects/SpriteEffect.js"></script>
    <script type="text/javascript" src="/scripts/game/entities/Food.js"></script>
    <script type="text/javascript" src="/scripts/game/entities/Bug.js"></script>
    <script type="text/javascript" src="/scripts/game/entities/Player.js"></script>
    <script type="text/javascript" src="/scripts/game/scenes/PreloadScene.js"></script>
    <script type="text/javascript" src="/scripts/game/scenes/TitleScene.js"></script>
    <script type="text/javascript" src="/scripts/game/scenes/InstructionsScene.js"></script>
    <script type="text/javascript" src="/scripts/game/scenes/StartScene.js"></script>
    <script type="text/javascript" src="/scripts/game/scenes/PlayScene.js"></script>
    <script type="text/javascript" src="/scripts/game/scenes/GameOverScene.js"></script>
    <script type="text/javascript" src="/scripts/game/scenes/ContinueScene.js"></script>
    <script type="text/javascript" src="/scripts/game/scenes/WinScene.js"></script>
    <script type="text/javascript" src="/scripts/game/game.js"></script>